﻿
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#fff6f8">
                    <h2 class="panel-title" style="color:gray;"><b>@Sevdenur_Özkan.Resources.Home.kategoriler</b></h2>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.cizgiroman, "KategoriCizgiRoman", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.gezi, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.bio, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.psi, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.fels, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.deneme, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.mektup, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.gunluk, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>

                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.roman, "KategoriRoman", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.oyku, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.siir, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.ani, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>




                    </div>
                </div>
            </div>


        </div>
    <div class="col-md-10">

        <div id="slayt" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#slayt" data-slide-to="0" class="active"></li>
                <li data-target="#slayt" data-slide-to="1"></li>

            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/IMAGES/0.png" alt="...">
                    <div class="carousel-caption">

                    </div>
                </div>
                <div class="item">
                    <img src="~/IMAGES/25.png" alt="...">
                    <div class="carousel-caption">

                    </div>
                </div>

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#slayt" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#slayt" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    <div class="col-md-10">
        <hr style="width: 100%; color: black; height: 0,50px; background-color:gray;" />
    </div>

    <div class="col-md-10">
        <!-- SÖZ-->
        <div class="panel panel-default">
            <div class="panel-body" style="background-color:#fffbfc">
                <p class="text-center"><i>Bütün mutlu aileler birbirine benzer, her mutsuz aileninse kendine özgü bir mutsuzluğu vardır.</i></p>
                <p align="right" style="color:gray;" class="text-center"><small>Lev Nikolayeviç Tolstoy/Anna Karenina</small></p>
                <p class="text-center"><i>Yaşayanların bir çoğu ölümü hak ediyor ve ölenlerin bir kısmı da yaşamayı hak ediyor.</i></p>
                <p align="right" style="color:gray;" class="text-center"><small>Tolkien/Yüzüklerin Efendisi Yüzük Kardeşliği</small></p>
                <p class="text-center"><i>Yerin altı,yerin altı!Toprağın güvenli ve yumuşak rahmi,iş bulmanın işten atılmanın söz konusu olmadığı,seni durmadan rahatsız etmediği umudun,korkunun,hırsın,yükümlülüklerin bulunmadığı,alacaklıların kapına gelmediği bir yere batmak.</i></p>
                <p align="right" style="color:gray;" class="text-center"><small>George Orwell/Aspidistra</small></p>


            </div>
        </div>
    </div>

    </div>
</div>
