﻿

<div class="container">
    <div class="row">

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#fff6f8">
                    <h2 class="panel-title" style="color:gray;"><b>@Sevdenur_Özkan.Resources.Home.kategoriler</b></h2>
                </div>
                <div class="panel-body">
                    <div class="list-group">

                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.cizgiroman, "KategoriCizgiRoman", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.gezi, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.bio, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.psi, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.fels, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.deneme, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.mektup, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.gunluk, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>

                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.roman, "KategoriRoman", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.oyku, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.siir, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.ani, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>





                    </div>
                </div>
            </div>


        </div>

       @foreach (var book in Model)
        {
            <div class="col-md-3">

                <a href="@Url.Action("KitapSayfasi","Home",new { KitapId=book.ID})" class="thumbnail" style="background-color:#fffbfc">
                    <hr style="border-color:#c7c7c7">
                    <img src="@book.ResimYolu" alt="..."> <hr style="border-color:#c7c7c7"><p class="text-center" style="color:gray">@book.KitapAdi</p>
                </a>

            </div>
        }
        

      

    </div>
    </div>


