﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>1 Kitap 1 Eleştiri</title>
   
     @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

   
    @Styles.Render("~/Content/css3")
    @Styles.Render("~/Content/css4")
   

    <!-- EK Stiller -->
    @Styles.Render("~/Content/css5")
    @*@Styles.Render("~/Content/css6")
    @Styles.Render("~/Content/css7")
    @Styles.Render("~/Content/css8")*@


    @Scripts.Render("~/bundles/jquery1")
 
   @Scripts.Render("~/bundles/b1")
   

</head>
<body>

 
    <header class="navbar navbar-default" style="background-color:#fae4e9; ">
       
        <div class="container">

            <div class="navbar-header">
              
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand pad0" href="#">
                    <img src="~/IMAGES/l2.png" alt="Logo" title="Eleştiri" class="img-circle"> 
                </a> 
            </div>
            

            <span class="logo-yani-yazisi text-info hidden-xs" style="color:gray;">
             

                <p style="color:grey;">1 Kitap 1 Eleştiri</p>

            </span>


         
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                   <li>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.anasayfa, "Index", "Home")</li>


@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Merhaba " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{

    <li>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.uyeOl, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.uyeGiris, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}

                </ul>
                <form class="navbar-form navbar-right">


                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default">@Sevdenur_Özkan.Resources.Home.ara</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
            
                            <li>@Html.ActionLink("Türkçe", "Dil","Home",new {LanguageAbbrevation ="tr" },null )</li>
                            <li>@Html.ActionLink("English", "Dil","Home", new { LanguageAbbrevation = "en" }, null)</li>
             
                </ul>
            </div>
        </div>
     
   




    </header>

 
   



            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <div class="container">
                        <div class="col-md-12">
                            <div class="row well">

                            </div>
                        </div>
                    </div>
                </footer>
            </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
