﻿@{
    ViewBag.Title = "Home Page";
}

  

@Html.Partial("~/Views/Partials/_KategoriBannerSoz.cshtml")

       
    

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Ayın yazarı-->
            <div class="panel panel-default">
                <div class="panel-heading" style="color:gray; background-color:#fff6f8"><h4><strong><b>@Sevdenur_Özkan.Resources.Home.yazar</b></strong></h4></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="img-circle" src="~/IMAGES/hl.jpg" alt="..." width="70" height="90">
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Harper Lee</h3>
                            <p aling="left" style="color:gray;">28 Nisan 1926 Alabama doğumlu olan yazar Harper Lee, Huntington Koleji ve Alabama Üniversiteleri'nde okudu.Birkaç kısa hikâye yazan Lee, 1960 yılında ünlü Bülbülü Öldürmek romanını yazdı.1961 Pulitzer Edebiyat Ödülü kazandı.2007 senesinde felç geçirip iyileştikten sonra doğduğu şehre geri dönen yazar 2015 yılında, Bülbülü Öldürmek'ten 55 sene sonra, Türkçeye Tespih Ağacının Gölgesinde isimiyle çevirilen Go Set a Watchmen'i yayınladı.19 Şubat 2016'da 89 yaşında hayatını kaybetti.

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- ayın kitabı-->
            <div class="panel panel-default">
                <div class="panel-heading" style="color:gray;background-color:#fff6f8"><h4><strong><b>@Sevdenur_Özkan.Resources.Home.kitap</b></strong></h4></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a>
                                <img class="img-rounded" src="~/IMAGES/dl1.jpg" alt="..." width="70" height="110">
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Doğunun Limanları</h3>
                            <p aling="left"><h5><b>Amin Maalouf</b></h5></p>
                            <p aling="left" style="color:gray;">Amin Maalouf, Osmanlı İmparatorluğu'nu, etnik çatışma ve çözülmeyi Avrupa'yla Doğu'nun, dillerin ve dinlerin tanışma noktası Doğu Limanları'nı anlatıyor.Beyrut ile Fransa arasında yaşamı sürüklenen İsyan. Doğunun Limanları bu yüzyılın başını, bir insanın trajik tarihinin içinden anlatıyor.İnce dokunmuş bir tarih örtüsüne işlenmiş kentler ve yaşamlar var bu satırlarda.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

