﻿
@Html.Partial("~/Views/Partials/_KategoriKitap.cshtml")

<div class="container">
    <div class="row">
       

        <div class="col-md-5">
        </div>
        <div class="col-md-3">
            <nav aria-label="Page navigation" class="pagination pagination-sm">
                <ul class="pagination">
                    @*<li>
                        <a href="#" style="color:gray" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>*@
                    <li>@Html.ActionLink("1", "KategoriRoman", "Home", new { @style = "color:gray;" })</li>
                    <li>@Html.ActionLink("2", "KategoriDiger", "Home", new { @style = "color:gray;" })</li>
                    <li>@Html.ActionLink("3", "KategoriDiger", "Home", new { @style = "color:gray;" })</li>
                    <li>@Html.ActionLink("4", "KategoriDiger", "Home", new { @style = "color:gray;" })</li>
                    <li>@Html.ActionLink("5", "KategoriDiger", "Home", new { @style = "color:gray;" })</li>
                    @*<li>
                        <a href="#" style="color:gray" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>*@
                </ul>
            </nav>
        </div>


    </div>
</div>
