﻿
@model Sevdenur_Özkan.Kitap
<div class="container">
    <div class="row">
        

       
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#fff6f8">
                    <h2 class="panel-title" style="color:gray;"><b>@Sevdenur_Özkan.Resources.Home.kategoriler</b></h2>
                </div>
                <div class="panel-body">
                    <div class="list-group">


                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.cizgiroman, "KategoriCizgiRoman", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.gezi, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.bio, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.psi, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.fels, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.deneme, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.mektup, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.gunluk, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>

                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.roman, "KategoriRoman", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.oyku, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.siir, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>
                        <button type="button" class="list-group-item"><b>@Html.ActionLink(Sevdenur_Özkan.Resources.Home.ani, "KategoriDiger", "Home", new { @style = "color:#9f9f9f;" })</b></button>




                    </div>
                </div>
            </div>


        </div>

      
   
       
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="@Model.ResimYolu" alt="...">
                <div class="caption">



                    <div class="panel panel-default">
                        <div class="panel-body " style="background-color:#fffefc">

                            <h3 style="color:#7c5801">@Model.KitapAdi</h3>
                            <hr style="border-color:#dac9a2">
                            <p><b>@Sevdenur_Özkan.Resources.Home.yazar2:</b>@Model.YazarAdi @Model.YazarSoyadi</p>
                            <p><b>@Sevdenur_Özkan.Resources.Home.cevirmen:</b>@Model.CevirmenAdi @Model.CevirmenSoyadi</p>  
                            <p><b>@Sevdenur_Özkan.Resources.Home.cevirmen:</b>@Model.SayfaSayisi</p>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body " style="background-color:#fffefc">
                            @Model.KitapBilgi
                        </div>
                    </div>


                </div>
            </div>

        </div>
      



        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="detailBox">
                        <div class="titleBox">

                            <label>@Sevdenur_Özkan.Resources.Home.yorum</label>
                            <hr>
                        </div>

                        <div class="actionBox">
                            <div class="container">

                                <div class="row">
                                    <div class="col-sm-1">
                                        <div class="thumbnail">
                                            <img class="img-responsive user-photo" src="~/IMAGES/chandler.png">
                                        </div><!-- /thumbnail -->
                                    </div><!-- /col-sm-1 -->

                                    <div class="col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <strong>Kullanıcı1</strong> <span class="text-muted"><small>5 gün önce yazıldı.</small></span>
                                            </div>
                                            <div class="panel-body">
                                                Varoluşçuluk hiç böyle hissettirilmemişti. Okurken Antoine ile birlikte bulantılara ve bunalımlara girmeniz kaçınılmazdır. Kitapla bütün olabilirseniz, her köşe başında bir Antoineizm oluşturabilirsiniz!
                                            </div><!-- /panel-body -->
                                        </div><!-- /panel panel-default -->
                                    </div><!-- /col-sm-5 -->
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <div class="thumbnail">
                                            <img class="img-responsive user-photo; img-rounded" src="~/IMAGES/chris.png">
                                        </div><!-- /thumbnail -->
                                    </div><!-- /col-sm-1 -->

                                    <div class="col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <strong>Kullanıcı2</strong> <span class="text-muted"><small>10 gün önce yazıldı.</small></span>
                                            </div>
                                            <div class="panel-body">
                                                Yapılan Yorum
                                            </div><!-- /panel-body -->
                                        </div><!-- /panel panel-default -->
                                    </div><!-- /col-sm-5 -->
                                </div><!-- /row -->

                                <div class="row">
                                    <div class="col-sm-1">
                                        <div class="thumbnail">
                                            <img class="img-responsive user-photo; img-rounded" src="~/IMAGES/chris.png">
                                        </div><!-- /thumbnail -->
                                    </div><!-- /col-sm-1 -->

                                    <div class="col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <strong>Kullanıcı2</strong> <span class="text-muted"><small>10 gün önce yazıldı.</small></span>
                                            </div>
                                            <div class="panel-body">
                                                Yapılan Yorum
                                            </div><!-- /panel-body -->
                                        </div><!-- /panel panel-default -->
                                    </div><!-- /col-sm-5 -->
                                </div><!-- /row -->

                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-4">
                                        <nav aria-label="Page navigation" class="pagination pagination-sm">
                                            <ul class="pagination">
                                                <li>
                                                    <a href="#" style="color:gray" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li><a href="#" style="color:gray">1</a></li>
                                                <li><a href="#" style="color:gray">2</a></li>
                                                <li><a href="#" style="color:gray">3</a></li>
                                                <li><a href="#" style="color:gray">4</a></li>
                                                <li><a href="#" style="color:gray">5</a></li>
                                                <li>
                                                    <a style="color:gray" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>

                            </div><!-- /container -->

                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder=@Sevdenur_Özkan.Resources.Home.yorumunuz />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-default">@Sevdenur_Özkan.Resources.Home.ekle</button>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>   